.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkgray;
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*padding: 10px 0;*/
    /*text-align: center;*/
    /*z-index: 1000;*/
}
a{
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: brown;
    transition-duration: 0.5s;
}